NETBOX_TOKEN=.....
# You may not need to edit this if geolookup_webhook is running in the same
# docker environment as netbox.
NETBOX_URL=http://netbox:8080
# This is a value shared between netbox and the geolookup webhook to prevent
# others from sending requests. You can use "openssl rand -base64 32" to
# generate this value.
WEBHOOK_TOKEN=...
# only define this if you need to disable warnings
#NETBOX_DISABLE_SSL_WARNINGS=
#
# this is the user that the above NETBOX_TOKEN was created as.  Which means we want
# to ignore any webhooks that were fired by that user because they might be
# because of an update from a webhook.  This is to prevent loops when we run
# site.save()
WEBHOOK_USER=
