NETBOX_TOKEN=.....
NETBOX_URL=https://netbox
WEBHOOK_TOKEN=...
# only define this if you want to disable warnings
#NETBOX_DISABLE_SSL_WARNINGS=
#
# this is the user that the above NETBOX_TOKEN was created as.  Which means we want
# to ignore any webhooks that were fired by that user because they might be
# because of an update from a webhook.  This is to prevent loops when we run
# site.save()
WEBHOOK_USER=
